<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITwoWayAsync" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/DCMS2/Documents/Documents.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync"
                contract="Documents.Documents" name="WSHttpBinding_ITwoWayAsync">
                <identity>
                    <userPrincipalName value="ODA-BIZT-ISOHOSTINST@sba.gov" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
